[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=BasiliskII --rom "/usr/local/share/BasiliskII/ShapeShifter ROM" --disk "/usr/local/share/BasiliskII/MacOS7.5.3_HD.dsk"
Name=BasiliskII Mac Emulator
Icon=basiliskii