[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=wine /opt/winemus/convimgcpc/ConvImgCpc.exe
Path=/opt/winemus/convimgcpc
Name=ConvImgCPC
Comment=Amstrad CPC image converter
Comment[es]=Conversor de imagenes para Amstrad CPC
Icon=convimgcpc