[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/linuxgames/rocksndiamonds/rocksndiamonds
Path=/opt/linuxgames/rocksndiamonds
Name=Rocks'n'diamonds
Icon=rocksndiamonds
Categories=Game;
