[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=wine /opt/winemus/winape/WinApe.exe
Path=/opt/winemus/winape
Name=WinAPE
Comment=Amstrad CPC emulator
Comment[es]=Emulador de Amstrad CPC
Icon=winape