[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore VIC-20 (VICE)
GenericName=
Comment=
Icon=xvic
Exec=xvic
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
